# Dependências do Node (Muito pesadas, nunca devem ir ao Git)
node_modules/
package-lock.json

# Logs do npm e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações locais do VS Code ou outros editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de log e relatórios do Jest (se você gerar coverage depois)
coverage/
.jest/

# Sistema operacional
.DS_Store
Thumbs.db